<nav>
  <%= link_to "Home", trainers_path %>
  <% if user_signed_in? %>
    <span class = "navbar"> <p> Welcome back <%= current_user.trainername %>!</p></span>
    <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</nav>